
<app-table [input]="input" [formly]="formly" [rrList]="rrList" (EditResponse)="editResponse($event)"(EmitFormlyUpdate)="formlyUpdate($event)" (EmitFieldFilterValue)="fieldFilterValue($event)"></app-table>


<!-- <app-table [tables]="tables" [title]="title" [cols]="cols" [formly]="formly" [rrList]="rrList" (EditResponse)="editResponse($event)"(EmitFormlyUpdate)="formlyUpdate($event)" (EmitFieldFilterValue)="fieldFilterValue($event)"></app-table> -->
 

<!-- 
    emit :{
        tab:any,
        
    }
 -->